#status
{
	background-color:red;
	font-weight:bold;
	color:white;
}

#subList
{
	padding-left: 0;
}

li 
{
	float: left;
	padding-right: 30px;
}

span
{
	padding-right: 10px;
}

#example-table
{
	height: 505px;
	background-color: white;
}

button 
{
	margin-top: 10px;
}